<!--
  Practicalli Custom 404 Page
-->


{% extends "main.html" %}

<!-- Content -->
{% block content %}
<h1>This is not the page you are looking for</h1>

<h3>
    Sorry we have arrived at a page that does not exist...
</h3>

<p>
    Practicalli Engineering Playbook is a very new book and actively being updated
</p>

<p>
  Try use the Search bar at the top of the page
</p>

<p>
  <a href="https://practical.li/engineering-playbook">
    <img src="https://raw.githubusercontent.com/practicalli/graphic-design/live/engineering-playbook/engineering-playbook-concept.png" alt="Practicalli Spacemacs book cover">
  </a>
</p>


{% endblock %}
